[user]
    email = th4s@metavoid.xyz
    name = th4s

[core]
    editor = nvim
    pager = delta

[interactive]
    diffFilter = delta --color-only

[delta]
    features = side-by-side line-numbers decorations
    whitespace-error-style = 22 reverse

[delta "decorations"]
    commit-decoration-style = bold yellow box ul
    file-style = bold yellow ul
    file-decoration-style = none

[diff]
    tool = nvimdiff

[difftool]
    prompt = false
    trustExitCode = true

[merge]
    tool = nvimdiff
    ff = false
    commit = false

[mergetool]
    prompt = false
    trustExitCode = true

[pull]
    ff = only
[init]
	defaultBranch = main
